html, body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dt, dd, form, fieldset, legend, input, textarea, select, figure, figcaption {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

a, u {
  text-decoration: none; }

img {
  border: 0;
  vertical-align: top; }

input, fieldset {
  outline: none;
  border: 0; }

.clear_fix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.clear_fix {
  zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

body {
  background-color: #eee;
  color: #1e1e1e; }

#top {
  height: 84px; }
  #top a {
    display: block;
    height: 100%; }
  #top img {
    width: 100%;
    cursor: pointer; }

#header-wrap {
  background: #444; }

.header {
  width: 1188px;
  height: 37px;
  margin: 0 auto;
  font-size: 11px; }

.header ul a {
  color: #ccc; }

.header ul li i {
  color: #ccc;
  font-size: 15px;
  cursor: pointer; }

.header-l {
  float: left; }

.header-r {
  float: right; }

.header-l li {
  float: left;
  padding-top: 12px; }

.header-l li:first-child {
  margin-right: 24px; }

.header-r > li {
  float: left;
  box-sizing: border-box;
  height: 37px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px; }

.header-r .downloadapp {
  position: relative; }
  .header-r .downloadapp .downpic {
    display: none;
    width: 124px;
    height: 140px;
    position: absolute;
    left: 50%;
    transform: translate(-62px);
    top: 37px;
    z-index: 1;
    background: #fff; }
    .header-r .downloadapp .downpic img {
      width: 60%;
      margin-top: 25px;
      margin-left: 24px; }
    .header-r .downloadapp .downpic p {
      text-align: center;
      margin-top: 15px; }
    .header-r .downloadapp .downpic:after {
      content: '';
      width: 0;
      height: 0;
      border: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      position: absolute;
      left: 55px;
      top: -20px; }

.header-r .netnav {
  position: relative; }
  .header-r .netnav .netnav-sub {
    display: none;
    width: 1100px;
    height: 72px;
    background: #fff;
    padding: 24px 50px 0;
    position: absolute;
    right: 0;
    top: 37px;
    z-index: 1; }
    .header-r .netnav .netnav-sub .netnav-sublist {
      float: left;
      margin: 0 30px; }
      .header-r .netnav .netnav-sub .netnav-sublist h3 {
        font-size: 16px;
        color: #262626; }
      .header-r .netnav .netnav-sub .netnav-sublist ol {
        margin-top: 7px;
        height: 20px; }
        .header-r .netnav .netnav-sub .netnav-sublist ol li {
          float: left;
          margin-right: 7px; }
          .header-r .netnav .netnav-sub .netnav-sublist ol li a {
            color: #262626; }
            .header-r .netnav .netnav-sub .netnav-sublist ol li a:hover {
              color: #00aaa6; }

#main {
  height: 64px;
  background-color: #fff; }
  #main .main-title {
    width: 1200px;
    height: 64px;
    margin: 0 auto; }
    #main .main-title img {
      width: 152px;
      height: 28px;
      float: left;
      margin-top: 20px; }
    #main .main-title h3 {
      float: left;
      margin: 10px 0 0;
      font-weight: 500;
      font-size: 16px;
      margin-top: 25px;
      margin-left: 10px; }
  #main .adr {
    width: 1200px;
    height: 52px;
    line-height: 52px;
    margin: 0 auto 16px;
    background: #fff;
    padding: 0 16px;
    margin-top: 20px; }
    #main .adr span {
      color: #aaa;
      font-size: 12px; }
    #main .adr em {
      font-size: 14px;
      color: #1e1e1e; }

.order-msg {
  width: 1200px;
  margin: 0 auto;
  background-color: pink; }
  .order-msg .table-tr-tit {
    text-align: left; }
  .order-msg .item-tr .left-text div {
    width: 78px;
    height: 78px;
    float: left; }
    .order-msg .item-tr .left-text div img {
      width: 100%; }
  .order-msg .item-tr .left-text a {
    float: left;
    color: #262626;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 14px; }

.add-reduce {
  width: 98px;
  height: 28px;
  border: 1px solid #777; }
  .add-reduce > a, .add-reduce > div {
    float: left; }
  .add-reduce .add {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #777; }
  .add-reduce .sum-num {
    height: 28px;
    width: 36px;
    font-size: 16px;
    color: #262626;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 28px;
    text-align: center; }
  .add-reduce .reduce {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #777; }

.order-msg {
  background-color: #fff; }
  .order-msg .table-tr-tit {
    font-size: 14px; }
    .order-msg .table-tr-tit th {
      padding-top: 10px;
      padding-bottom: 10px; }
    .order-msg .table-tr-tit .sum-select {
      margin-left: 5px; }
    .order-msg .table-tr-tit .goods-msg {
      margin-left: 70px; }
  .order-msg .input-checkbox {
    height: 14px;
    width: 14px;
    margin-left: 20px;
    background-color: #fff; }
  .order-msg .input-checkbox-b:before {
    border: 1px solid #ddd;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    background: #fff; }
  .order-msg .input-checkbox-a:after {
    border: 1px solid #00aaa6;
    position: absolute;
    content: "\2714";
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    display: block;
    background: #00aaa6;
    text-align: center; }

.item-tr td {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px; }

.item-tr .goods-price {
  font-size: 14px; }

.item-tr .goods-single_price {
  color: #d9161c;
  font-weight: 700; }

.item-tr .del {
  font-size: 14px;
  color: #646464; }

.settlement {
  width: 1200px;
  height: 46px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  position: relative; }
  .settlement .price-desc {
    position: absolute;
    right: 180px;
    top: 10px; }
    .settlement .price-desc span:first-child {
      font-size: 14px; }
    .settlement .price-desc .settle-price-wrap span {
      font-size: 20px;
      color: #d9161c;
      font-weight: 900; }
  .settlement .settle-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
    height: 46px;
    background: red; }
    .settlement .settle-btn button {
      width: 140px;
      height: 46px;
      border: none;
      color: #fff;
      background-color: #d9161c;
      font-size: 18px; }
